<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый товар - Сульмаг</title>
</head>
<body>
<h1>Новый товар</h1>
<div th:if="${errors}">
  <h2>Допущены ошибки</h2>
  <ul>
    <li th:each="error : ${errors}" th:text="${error}"></li>
  </ul>
</div>
<a th:href="@{catalogue/products/list}">Вернуться к списку товаров</a>
<form th:method="post" th:action="@{/catalogue/products/create}">
  <label>
    Название: <br>
    <input type="text" name="title" th:text="${payload?.title}">
  </label><br>
  <label>
    Описание:<br>
    <textarea name="description" th:text="${payload?.description}"></textarea>
  </label><br>
    <input type="submit" value="Создать">
</form>
</body>
</html>